div.wrapper{
    position: absolute;
    top: 10px;
    width: calc(100% - 40px);
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    margin: 0px 20px 20px 20px;
    padding: 20px;
}
h3{
    color: #555;
    text-transform: capitalize;
    font-size: 1.3em;
    font-weight: 700;
}
h4{
    display: block;
    text-transform: capitalize;
    font-size: 1em;
    color: #333333;
    font-weight: initial;
    padding: 10px 0px;
}