<form (ngSubmit)="onSubmit()" #newPrizeForm="ngForm">

  <label for="type">Tipo de premio *</label>
  <input [(ngModel)]="prize.type" name="type" id="type" placeholder="Tipo de premio" required>

  <label for="description">Descripción *</label>
  <input [(ngModel)]="prize.description" name="description" id="description" placeholder="Descripción" required>

  <label for="sponsor">Espónsor *</label>
  <input [(ngModel)]="prize.sponsor" name="sponsor" id="sponsor" placeholder="Espónsor" required>

  <label for="stock">Stock *</label>
  <input [(ngModel)]="prize.stock" name="stock" id="stock" placeholder="Stock inicial" min="0" required>

  <label for="due_date">Vencimiento</label>
  <input type="date" name="due_date" id="due_date" (input)="inputDate($event)">

  <label for="note">Notas</label>
  <input [(ngModel)]="prize.note" name="note" id="note" placeholder="Comentarios sobre el premio">

  <button (click)="newPrize(); newPrizeForm.reset()" type="submit" class="btn-ok" [disabled]="!newPrizeForm.form.valid">Crear</button>
  <button (click)="newPrizeForm.reset()" class="btn-cancel" id="btn-cancel-sub-new-user">Cancelar</button>

</form>


<!--<form id="form-new-prize">

  <label for="txt-type">Tipo *</label>
  <input list="prizes-type-list" id="txt-type" placeholder="Tipo de premio" autocomplete="off" required>
  <datalist id="prizes-type-list">
  </datalist>

  <label for="txt-description">Descripción *</label>
  <input type="text" id="txt-description" placeholder="Descripción del premio" required>


  <label for="txt-sponsor">Espónsor *</label>
  <input type="text" id="txt-sponsor" placeholder="Nombre del espónsor" required>

  <label for="txt-stock">Stock *</label>
  <input type="number" id="txt-stock" placeholder="Stock inicial" min="0" required>

  <label for="date-duedate">Vencimiento</label>
  <input type="date" id="date-duedate">

  <label for="txt-note">Notas</label>
  <textarea id="txt-note" placeholder="Comentarios sobre el premio"></textarea>

  <button type="submit" class="btn-ok" id="btn-sub-prize">Crear</button>
  <button type="reset" class="btn-cancel" id="btn-cancel-sub-prize">Cancelar</button>
</form>-->