<section class="search-box">
	<div id="searchBox">
		<form method="post" action="serachWinner" id="formQuery">
			<input type="text" name="queryTxt" id="txtQuery" placeholder="Buscar ganadores (un solo término)" autocomplete="off" autofocus>
			<button type="submit"><i class="material-icons">&#xE8B6;</i></button>
		</form>
	</div>
	<div id="results"></div>
</section>
