/*--  Variables  -------------------------------------------------------------*/
div#ds-spinner{
  --white-color: #EEEEEE;
  --grey-color: #888888;
  --black-color: #333333;
  --primary-color: #F58500;
  --accent-color: #0240AA;
}
/*--  General  ---------------------------------------------------------------*/
div#ds-spinner *,
div#ds-spinner *:before,
div#ds-spinner *:after{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
div#ds-spinner{
  position: fixed;
  display: table;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: 10;
  pointer-events: none;
  opacity: 0;
  /*transition: opacity 500ms linear;*/
}
div#ds-spinner.start-spinning{
  animation: show 300ms linear forwards;
  animation-delay: 1000ms;
}
div#ds-spinner div.spinner-wrapper{
  display: table-cell;
  vertical-align: middle;
}
/*--  Spinner  ---------------------------------------------------------------*/
div#ds-spinner div.spinner{
  position: relative;
  margin: auto;
}
div#ds-spinner div.spinner:before,
div#ds-spinner div.spinner:after{
  content: '';
  display: block;
  position: absolute;
}
/*--  Circle  ----------------------------------------------------------------*/
div#ds-spinner div.spinner-circle{
  border-radius: 50%;
  background-color: transparent;
  width: 50px;
  height: 50px;
}
div#ds-spinner div.spinner-circle:before{
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--primary-color);
  border-bottom-color: var(--primary-color);
  animation: spinn 2s linear infinite;
}
/*--  Radiocero  -------------------------------------------------------------*/
div#ds-spinner div.spinner-radiocero{
  border-radius: 50%;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border: 6px solid var(--primary-color);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}
div#ds-spinner div.spinner-radiocero:before{
  top: 0px;
  left: 0px;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  border: 4px solid var(--primary-color);
  animation: stopstart-spinn 2.0s linear infinite;
  transform-origin: 66% 66%;
}
div#ds-spinner div.spinner-radiocero:after{
  top: calc(50% - 6px);
  left: calc(50% - 6px);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
}
/*--  Animations  ------------------------------------------------------------*/
@keyframes show {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes spinn {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
@keyframes stopstart-spinn {
  0%{
    transform: rotate(0deg);
  }
  30%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
