/*___NAV MENU_____________________________________________________________________________________________*/
nav#main{
	position: fixed;
	width: 100%;
	height: 60px;

	/*box-shadow: 0px 2px 4px #888;*/

	background-color: #ffa500;

	z-index: 10;
}
div#menu-button{
	display: none;
	float: left;
	width: 60px;
	height: 100%;
}
div#menu-button i{
	width: 100%;
	text-align: center;
	line-height: 60px;

	cursor: pointer;

	color: rgba(0,0,0,0.5);
	transition: color 0.3s ease;
}
div#menu-button i:hover{
	color: #fff;
	transition: color 0.3s ease;
}
h1.main-title{
	float: left;
	line-height: 60px;
	margin-left: 20px;
	color: #fff;
	padding-right: 10px;
	overflow: hidden;
	width: calc(100% - 60px);
	white-space: nowrap;
	text-overflow: ellipsis;
}
h1 i.sub-title{
	line-height: 60px;
	color: rgba(0,0,0,0.5);
}

nav#main ul{
	position: absolute;
	/*top:60px;*/
	top: 100px;
	left: 20px;

	/*left: -300px;
	transition: left .3s ease-in-out;*/

	min-width: 150px;
	min-height: 150px;
	/*background-color: #fff;*/
	/*box-shadow: 0px 2px 4px #888;*/

	z-index: 12;
}
nav#main ul#menu-options{
	min-width: 300px;
	max-height: calc(100vh - 60px);
	overflow-y: auto;
}
nav#main ul.visible{
	left: 0px;
	transition: left .3s ease-in-out;
}
nav#main ul li{
	display: block;
	list-style-type: none;
	/*background-color: #fff;*/
}

nav#main ul li.menu-title span{
	display: inline-block;
	margin: 5px 0px 0px 5px;
	font-size: .6em;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.5);
	font-weight: 500;
}
nav#main ul li i{
	vertical-align: middle;
	font-size: 18px;
}
nav#main ul a{
	display: block;
	line-height: 60px;
	width: 100%;
	height: 100%;
	min-width: 150px;
	max-width: 300px;
	font-size: 1em;
	text-decoration: none;
	font-weight: 500;
	padding: 0px 20px;
	color: rgba(0,0,0,0.75);
	transition: color 0.3s ease;
}
nav#main ul a:hover{
	color: #fff;
	transition: color 0.3s ease;
}
nav#main div#menu-option-back{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 10000px;
	display: none;
	z-index: 11;
}
nav#main div#menu-option-back.visible{
	display: block;
}

/*Large devices Desktops (≥1200px)########################################################################################################################*/
/*@media screen and (min-width: 1200px){}*/



/*Medium devices Desktops (≥992px)########################################################################################################################*/
/*@media screen and (min-width: 992px) and (max-width: 1199px){}*/



/*Small devices Tablets (≥768px)########################################################################################################################*/
/*@media screen and (min-width: 768px){}*/



/*Extra small devices Phones  (<768px)########################################################################################################################*/
@media screen and (max-width: 767px){
	nav#main{
		position: fixed;
		width: 100%;
		height: 60px;

		box-shadow: 0px 2px 4px #888;

		background-color: #ffa500;

		z-index: 10;
	}
	div#menu-button{
		display: initial;
		float: left;
		width: 60px;
		height: 100%;
	}
	div#menu-button i{
		width: 100%;
		text-align: center;
		line-height: 60px;

		cursor: pointer;

		color: rgba(0,0,0,0.5);
		transition: color 0.3s ease;
	}
	div#menu-button i:hover{
		color: #fff;
		transition: color 0.3s ease;
	}
	h1.main-title{
		float: left;
		line-height: 60px;
		color: #fff;
		padding-right: 10px;
		overflow: hidden;
		width: calc(100% - 60px);
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	h1 i.sub-title{
		line-height: 60px;
		color: rgba(0,0,0,0.5);
	}

	nav#main ul{
		position: absolute;
		top:60px;

		left: -300px;
		transition: left .3s ease-in-out;

		min-width: 150px;
		min-height: 150px;
		background-color: #fff;
		box-shadow: 0px 2px 4px #888;

		z-index: 12;
	}
	nav#main ul#menu-options{
		min-width: 300px;
		max-height: calc(100vh - 60px);
		overflow-y: auto;
	}
	nav#main ul.visible{
		left: 0px;
		transition: left .3s ease-in-out;
	}
	nav#main ul li{
		display: block;
		list-style-type: none;
		background-color: #fff;
	}

	nav#main ul li.menu-title span{
		display: inline-block;
		margin: 5px 0px 0px 5px;
		font-size: .6em;
		text-transform: uppercase;
		color: rgba(0, 0, 0, 0.5);
		font-weight: 500;
	}
	nav#main ul li i{
		vertical-align: middle;
		font-size: 18px;
	}
	nav#main ul a{
		display: block;
		line-height: 60px;
		width: 100%;
		height: 100%;
		min-width: 150px;
		max-width: 300px;
		font-size: 1em;
		text-decoration: none;
		font-weight: 500;
		padding: 0px 20px;
		color: rgba(0,0,0,0.75);
		transition: color 0.3s ease;
	}
	nav#main ul a:hover{
		color: #ffa500;
		transition: color 0.3s ease;
	}
	nav#main div#menu-option-back{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 10000px;
		display: none;
		z-index: 11;
	}
	nav#main div#menu-option-back.visible{
		display: block;
	}
}
/*___FIN NAV MENU_________________________________________________________________________________________*/
