/*--  Global Variables  ------------------------------------------------------*/
html{
  --white-color: #EEEEEE;
  --grey-color: #888888;
  --black-color: #333333;
  --primary-color: #FB6202;
  --accent-color: #02AA40;
  --nav-width: 200px;
}
/*vsplit*/
/*--  Reset  -----------------------------------------------------------------*/
*, html{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: var(--black-color);
}
body{
  font-family: Roboto, sans-serif;
  font-size: 16px;
  background-color: var(--white-color);
  color: var(--black-color);
  overflow: hidden;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: rgba(0, 0, 0, 0) !important;
}
/*--  Header  -----------------------------------------------------------------*/
header{
  position: fixed;
  top: 0px;
  left: 0px;
  width: var(--nav-width);
  height: 100vh;
}
header nav{
  width: 100%;
  overflow: auto;
}
div.nav-header{
  float: left;
  width: var(--nav-width);
  height: 90px;
}
div.nav-header img{
  float: left;
  margin: 30px 15px;
  width: 30px;
  height: 30px;
}
div.nav-header span{
  display: inline-block;
  line-height: 90px;
  font-size: 1.3em;
  font-weight: 700;
  color: var(--primary-color);
}
ul.nav-options{
  list-style-type: none;
  width: 100%;
  padding-left: 15px;
}
ul.nav-options li a{
  display: block;
  width: calc(var(--nav-width) - 15px);
  height: 60px;
  line-height: 60px;
  color: var(--black-color);
  cursor: pointer;
  transition: all 300ms linear;
}
ul.nav-options li a:hover{
  background-color: #CCCCCC;
}
ul.nav-options li.menu-title{
  font-size: .7em;
  font-weight: 500;
  line-height: 40px;
  color: var(--grey-color );
  text-transform: uppercase;
}
/*--  Login modal  -----------------------------------------------------------*/
#login-modal{
  position: absolute;
  width: 300px;
  top: 100px;
  margin-left: calc(50% - 150px);
  z-index: 10;
  padding: 30px;
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}
#login-modal:after{
  position: fixed;
  top: 0px;
  left: 0px;
  content: '';
  width: 100%;
  height: 100vh;
  background-color: #FFFFFF;
  z-index: -1;
  pointer-events: auto;
}
#login-modal img{
  margin-left: calc(50% - 48px);
  margin-bottom: 30px;
}
#login-modal input{
  line-height: 25px;
  width: 100%;
  border-style: none;
  padding: 5px;
}
#login-modal.out{
  opacity: 0;
}
#login-modal.out:after{
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0);
}
/*--  Pages  -----------------------------------------------------------------*/
section.page{
  position: repative;
  margin-left: 200px;
  top: 0px;
  left: 200px;
  width: calc(100% - 200px);
  min-width: 600px;
  height: 100vh;
  padding: 20px;
}
div.content-card{
  width: 50%;
  min-width: 600px;
  height: 100%;
  overflow-y: auto;
  margin: 0px auto;
  border-radius: 3px;
  background-color: #FFFFFF;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.5);
}
div.content-card::-webkit-scrollbar {
  display: none;
}
/*--  Animations  -----------------------------------------------------------------*/
.fadeIn{
  animation: fadeIn 800ms;
}
@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
