<section id="section_users" class="page">
  <div class="content-card">
    <nav class="card-nav">
      <ul>
        <li>
          <button (click)="navigateTo('usersList')" class="nav-button">Lista de Usuarios</button>
        </li>
        <li>
          <button (click)="navigateTo('newUser')" class="nav-button">Nuevo Usuario</button>
        </li>
      </ul>
    </nav>
    <div class="content-forms">

      <div id="card-users-list" class="content-form" [style.display]="visible_tab == 'usersList' ? 'inherit' : 'none'">
        <h2>Lista de Usuarios</h2>

        <!--Users List-->
        <ul id="ul-list-users" class="list">
          <li class="list-item" *ngFor="let user of users_list">
            <span class="item-avatar">{{user.Name.slice(0,1)}}</span>
            <div class="item-data">
              <span class="data-name">{{user.Name}}</span>
              <span class="data-right">
                  <span class="data-role">{{user.Role}}</span>
              <small> creado el </small>
              <span class="data-set_date">{{user.StrDate}}</span>
              </span>
            </div>
          </li>
        </ul>
        
      </div>


      <div id="card-new-user" class="content-form" [style.display]="visible_tab == 'newUser' ? 'inherit' : 'none'">

        <h2>Nuevo Usuario</h2>

        <user-form></user-form>

      </div>

    </div>
  </div>
</section>