<section id="section_pizes" class="page">
  <div class="content-card">

    <nav class="card-nav">
      <ul>
        <li><button (click)="navigateTo('prizesList')" class="nav-button">Lista de Premios</button></li>
      </ul>
      <ul>
        <li><button (click)="navigateTo('newPrize')" class="nav-button">Nuevo Premio</button></li>
      </ul>
    </nav>

    <div class="content-forms">

      <div id="card-prizes-list" class="content-form" [style.display]="(visible_tab == 'prizesList') ? 'inherit' : 'none'">
        <h2>Lista de Premios</h2>
        <ul id="ul-list-prizes" class="list">
          <li class="list-item" *ngFor="let prize of prizes_list; let i = index">
            <div>
              <span class="data-stock">{{prize.Stock}}</span>
              <span class="data-description">{{prize.Description}}</span>
              <span class="data-type">{{prize.Type}}<i class="data-sponsor"> - {{prize.Sponsor}}</i></span>
              <div class="data-dates"><span>Premio creado el</span>
                <span class="data-date">{{prize.StrSetDate}}</span>
                <span> vence el </span>
                <span class="data-date">{{prize.StrDueDate}}</span>
              </div>
              <div class="list-actions">
                <button (click)="displayGrantPrizeTab(prize)" type="button" class="btn-ok btn-grant-prize">Otorgar</button>
                <button type="button" class="btn-cancel btn-edit-prize">Editar</button>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <grant-prize-tab *ngIf="prize_to_grant" [prize]="prize_to_grant"></grant-prize-tab>

      <div id="card-new-prize" class="content-form" [style.display]="visible_tab == 'newPrize' ? 'inherit' : 'none'">
        <h2>Nuevo Premio</h2>
        
        <new-prize-form></new-prize-form>
        
      </div>

    </div>
  </div>
</section>