<section id="section_pizes" class="page">
  <div class="content-card">

    <nav class="card-nav">
      <ul>
        <li><button (click)="navigateTo('prizesList')" class="nav-button">Lista de Premios</button></li>
      </ul>
      <ul>
        <li><button (click)="navigateTo('newPrize')" class="nav-button">Nuevo Premio</button></li>
      </ul>
    </nav>

    <div class="content-forms">

      <div id="card-prizes-list" class="content-form" [style.display]="(visible_tab == 'prizesList') ? 'inherit' : 'none'">
        <h2>Lista de Premios</h2>
        <ul id="ul-list-prizes" class="list">
          <li class="list-item" *ngFor="let prize of prizes_list; let i = index">
            <div>
              <span class="data-stock">{{prize.Stock}}</span>
              <span class="data-description">{{prize.Description}}</span>
              <span class="data-type">{{prize.Type}}<i class="data-sponsor"> - {{prize.Sponsor}}</i></span>
              <div class="data-dates"><span>Premio creado el</span>
                <span class="data-date">{{prize.StrSetDate}}</span>
                <span> vence el </span>
                <span class="data-date">{{prize.StrDueDate}}</span>
              </div>
              <div class="list-actions">
                <button (click)="displayGrantPrizeTab(prize)" type="button" class="btn-ok btn-grant-prize">Otorgar</button>
                <button type="button" class="btn-cancel btn-edit-prize">Editar</button>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <grant-prize-tab *ngIf="prize_to_grant" [prize]="prize_to_grant"></grant-prize-tab>

      <div id="card-new-prize" class="content-form" [style.display]="visible_tab == 'newPrize' ? 'inherit' : 'none'">
        <h2>Nuevo Premio</h2>
        <form id="form-new-prize">
          <!-- input new prize data -->

          <label for="txt-type">Tipo *</label>
          <input list="prizes-type-list" id="txt-type" placeholder="Tipo de premio" autocomplete="off" required>
          <datalist id="prizes-type-list">
            <!-- It's filled from JS -->
          </datalist>

          <label for="txt-description">Descripción *</label>
          <input type="text" id="txt-description" placeholder="Descripción del premio" required>


          <label for="txt-sponsor">Espónsor *</label>
          <input type="text" id="txt-sponsor" placeholder="Nombre del espónsor" required>

          <label for="txt-stock">Stock *</label>
          <input type="number" id="txt-stock" placeholder="Stock inicial" min="0" required>

          <label for="date-duedate">Vencimiento</label>
          <input type="date" id="date-duedate">

          <label for="txt-note">Notas</label>
          <textarea id="txt-note" placeholder="Comentarios sobre el premio"></textarea>

          <button type="submit" class="btn-ok" id="btn-sub-prize">Crear</button>
          <button type="reset" class="btn-cancel" id="btn-cancel-sub-prize">Cancelar</button>
        </form>
      </div>

    </div>
  </div>
</section>